@import "fonts.css";
@import url("fonts.css");

.wrapper {
  height: 100%;
}

header {
  text-align: center;
}

header h1 {
  font-weight: bold;
  font-size: 3rem;
  color: #2C666E; /*teal*/
}

nav {
  text-align: center;
  width: 100%;
  padding: 0.75rem 0;
  background-color: #FAB3A9;
}

nav a {
  padding: 0.75rem 1rem;
  margin: 0 1rem;
  font-size: 1rem;
  background-color: #FAB3A9;
}

body {
  width: 100%;
  margin: 0;
  font-family: "Gotham", sans-serif;
  background-color: white;
}

p {
  margin: 1rem;
  padding: 1rem;
}

footer {
  margin: 1rem;
  padding: 1rem;
}
