@import "fonts.css";
@import url("fonts.css");

header {
  text-align: center;
}

header h1 {
  font-weight: bold;
  font-size: 3em;
  color: #2C666E; /*teal*/
}

body {
  font-family: "Gotham", sans-serif;
  background-color: #F0EDEE; /*light grey*/
}
