@import "fonts.css";
@import url("fonts.css");

.wrapper {
  height: 100%;
  margin: 1rem 3rem;
}

body {
  margin: 0;
  font-family: "Gotham", sans-serif;
  background-color: white;
}

body a {
  color: #FDB4AD; /* pink */
}

body a:hover {
  color: #79B488; /* green */
  transition: 0.5s;
}

section {
  margin: 0 2rem;
  width: 90%;
}

.project {
  background-color: #79B488; /* green */
  text-align:center;
  color: white;
  padding: 2rem;
  width: 9em;
  float:left;
  margin: 1rem;
}

img {
  margin: 1rem 0.5rem;
}

.process-analysis img {
  float:left;
}

.about img {
  float:right;
  margin: 1rem;
}

.project:hover {
  background-color: #FAB3A9; /* pink */
  transition: 0.5s;
}

.iframe-div {
  position: relative;
  padding-top: 56%;
}
/* https://codepen.io/cobycreative/pen/cIrnv */

iframe {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
}

header {
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 3rem;
  color: #2C666E; /*teal*/
}

h2 {
  font-size: 2rem;
}

h3 {
  color: #2C666E; /*teal*/
  font-size: 1.5rem;
}

h4 {
  color: #79B488; /* green */
}

h5 {
  color: black;
  margin: 0 1rem;
}

nav {
  text-align: center;
  width: 100%;
  padding: 0.75rem 0;
  background-color: #FAB3A9; /* pink */
}

nav a {
  padding: 0.75rem 1rem;
  margin: 0 1rem;
  font-size: 1rem;
  background-color: #FAB3A9; /* pink */
  color: white;
}

#navigation a {
  padding: 0.75rem 1.5rem;
  margin: 0 1rem;
  font-size: 1rem;
  background-color: #FAB3A9; /* pink */
  color: white;
}

#navigation a:hover {
  padding: 0.75rem 1.5rem;
  margin: 0 1rem;
  font-size: 1rem;
  background-color: #79B488; /* green */
  color: white;
}

p {
  margin: 0.25rem 1rem;
  padding: 1em;
}

button {
  background-color: #79B488; /* green */
  border: none;
  color: white;
  padding: 0.75rem 1.5rem;
  text-align: center;
  font-size: 1rem;
  display: inline-block;
  text-decoration: none;
  margin: 0 1rem;
}

button:hover, button:focus, button:active {
  background-color: #FDB4AD; /* pink */
  transition: 0.5s;
}


footer {
  margin: 1rem;
  padding: 1rem;
  clear: both;
}
